.sidebar(ui-view='sidebar@body')
.main(ui-view='main@body')
.intro(ng-controller='IntroController', ng-intro-options='IntroOptions', ng-intro-method='CallMe', ng-intro-autostart='true', ng-intro-onbeforechange='BeforeChange')
