.chart-buttons.btn-group(ng-class='{ active: showDatepicker }')
  button.btn.btn-primary(type='button', ng-click='showDatepicker = !showDatepicker'): i.glyphicon.glyphicon-calendar
  button.btn.btn-primary(type='button', ng-click='cycleChartType()'): i(ng-class='chartTypeIconClasses[chartType]')
.popover.left.datepicker-popover(ng-show='showDatepicker')
  .arrow
  .popover-content
    .row
      .datepicker
        .range-start
        .range-end

#chart_container

  #chart
  #y_axis

style.

  div, span, p, td {
    font-family: Arial, sans-serif;
  }
  #chart {
    display: inline-block;
  }
  #legend {
    display: inline-block;
    position: relative;
    left: 8px;
  }
  #legend_container {
    position: absolute;
    right: 0;
    bottom: 26px;
    width: 0;
  }
  #chart_container {
    float: left;
    position: relative;
  }