.modal
  .modal-dialog.modal-sm
    .modal-content
      form(name='variable-edit')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Edit #{name}
        .modal-body

          input.form-control(name='id', type='hidden', value=id)

          .row.form-group
            .col-md-12
              input.form-control(name='name', type='text', value=name, placeholder='Variable Name (ex: "Sleep")')

          .row.form-group
            .col-md-12
              textarea.form-control(name='question', placeholder='Question (ex: "How much sleep did you get last night?")')= question

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Save
