#modal-variable.modal
  .modal-dialog.modal-sm
    .modal-content
      form(name='variable')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title New Variable
        .modal-body
          .row.form-group
            .col-md-12
              input.form-control(name='name', type='text', placeholder='Variable (ex: "Sleep")')

          .row.form-group
            .col-md-12
              textarea.form-control(name='question', placeholder='Question (ex: "How much sleep did you get last night?")')

          .row.form-group
            .col-md-12
              select.form-control(name='type')
                option(value='scale') Scale
                option(value='boolean') True/False
                option(value='number') Number

          .row.form-group
            .col-md-6
              input.form-control(name='min', type='text', placeholder='Min (ex: "0")')
            .col-md-6
              input.form-control(name='max', type='text', placeholder='Max (ex: "24")')

          .row.form-group
            .col-md-12
              input.form-control(name='units', type='text', placeholder='Units (ex: "hours")')

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='submit') Save
