doctype html
html(lang='en', ng-app='lifetracker')
  head
    title Lifetracker

    script(src='bower_components/jquery/dist/jquery.js')

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')

    script(src='bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')
    link(href='bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css', rel='stylesheet')
    script(src='bower_components/angular-bootstrap-slider/slider.js')

    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')

    script(src='bower_components/angular-strap/dist/angular-strap.js')
    script(src='bower_components/angular-strap/dist/angular-strap.tpl.js')

    link(href='bower_components/bootstrap-additions/dist/bootstrap-additions.css', rel='stylesheet')
    link(href='bower_components/angular-motion/dist/angular-motion.css', rel='stylesheet')

    link(href='bower_components/bootstrap-datepicker/css/datepicker3.css', rel='stylesheet')
    script(src='bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js')

    link(href='bower_components/angular-toggle-switch/angular-toggle-switch-bootstrap.css', rel='stylesheet')
    link(href='bower_components/angular-toggle-switch/angular-toggle-switch.css', rel='stylesheet')
    script(src='bower_components/angular-toggle-switch/angular-toggle-switch.js')

    script(src='bower_components/async/lib/async.js')

    script(src='bower_components/chance/chance.js')

    script(src='bower_components/ui-router-extras/release/ct-ui-router-extras.js')

    script(src='bower_components/d3/d3.min.js')
    script(src='bower_components/rickshaw/rickshaw.min.js')
    link(href='bower_components/rickshaw/rickshaw.min.css', rel='stylesheet')

    script(src='bower_components/underscore/underscore.js')

    // inject:js 
    // endinject 

    link(href='stylesheets/styles.css', rel='stylesheet')

  body(ng-class='stateClasses')
    
    include views/app
