doctype html
html(lang='en', ng-app='lifetracker')
  head
    title Lifetracker

    script(src='../node_modules/jquery/dist/jquery.js')
    //- script(src='../node_modules/bootstrap/dist/js/bootstrap.js')
    //- script(src='../node_modules/bootflat/bootflat/js/jquery.fs.selecter.min.js')
    //- script(src='../node_modules/coffee-script/extras/coffee-script.js')
    script(src='../bower_components/angular/angular.js')
    script(src='../node_modules/angular-ui-router/release/angular-ui-router.js')

    script(src='../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')
    link(href='../bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css', rel='stylesheet')
    script(src='../bower_components/angular-bootstrap-slider/slider.js')

    script(src='../bower_components/angular-sanitize/angular-sanitize.js')
    script(src='../bower_components/angular-animate/angular-animate.js')

    script(src='../bower_components/angular-strap/dist/angular-strap.js')
    script(src='../bower_components/angular-strap/dist/angular-strap.tpl.js')

    link(href='../bower_components/bootstrap-additions/dist/bootstrap-additions.css', rel='stylesheet')
    link(href='../bower_components/angular-motion/dist/angular-motion.css', rel='stylesheet')

    link(href='../bower_components/bootstrap-datepicker/css/datepicker3.css', rel='stylesheet')
    script(src='../bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js')

    link(href='../bower_components/angular-toggle-switch/angular-toggle-switch-bootstrap.css', rel='stylesheet')
    link(href='../bower_components/angular-toggle-switch/angular-toggle-switch.css', rel='stylesheet')
    script(src='../bower_components/angular-toggle-switch/angular-toggle-switch.js')

    link(href='../bower_components/angular-wizard/dist/angular-wizard.css', rel='stylesheet')
    script(src='../bower_components/angular-wizard/dist/angular-wizard.js')

    script(src='../bower_components/async/lib/async.js')

    script(src='../bower_components/d3/d3.min.js')
    script(src='../bower_components/rickshaw/rickshaw.min.js')
    link(href='../bower_components/rickshaw/rickshaw.min.css', rel='stylesheet')

    script(src='../bower_components/lodash/dist/lodash.js')
    script(src='../bower_components/underscore/underscore.js')

    link(rel='stylesheet/less', type='text/css', href='../styles.less')


    // inject:js 
    // endinject 

    script.
      less = { logLevel: 1 };
    script(src='../bower_components/less/dist/less-1.7.4.js')
    link(href='../node_modules/bootflat/bootflat/css/bootflat.css', rel='stylesheet')

    link(href='../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')

  body
    
    include views/app
