nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Lifetracker
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.fa.fa-plus
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Sleep
            li
              a(href='#') Caffeine
            li
              a(href='#') Happiness
            li.divider
            li
              a(href='#') Wizard