@import "node_modules/bootstrap/less/bootstrap.less";
@import "node_modules/font-awesome/css/font-awesome.css";

@icon-font-path: "node_modules/bootstrap/fonts/";

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: default !important;

}

textarea { 
  resize: none; 
}

body {
  margin: 0;
  overflow: hidden;
  min-height: 500px;
  min-width: 600px;
}

.app {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
}

.navbar {
  margin: 0;
}

.sidebar {
  width: 300px;
  background: #eee;
  flex-shrink: 0;
  padding: 20px;
  overflow: scroll;
}

.sidebar .popover .row {
  width: 250px;
}

.main {
  padding: 20px;
  width: 100%;
  position: relative;
}

nav {

  padding-right: 20px;

  .navbar-header > a {

    margin: 0;
    padding: 15px;

    &.active,
    &:hover,
    &:focus {
      background-color: #000 !important;
    }

  }

}

nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .datepicker input {
  width: auto !important;
  padding-left: 10px;
}

.variable-toggle .btn-group {
  display: none;
}

.variable-toggle:hover .btn-group {
  display: inline-block;
}

.popover .row [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}

.popover .row {
  margin-left: -10px;
  margin-right: -10px;
}

.popover .row:not(:last-child) {
  margin-bottom: 10px;
}

/* this is how we can tweak the popover position */
/*.popover {
  margin-top: 65px;
}
.popover .arrow {
  top: 30px !important;
}*/

.popover .selecter {
  color: #333;
}

.selecter.cover .selecter-options {
  border: none;
}

.popover .form-group {
  margin-bottom: 10px;
}

.popover .form-group:last-child {
  margin-bottom: 0;
}

.datepicker-popover {
  display: block;
  left: auto;
  top: 54px;
  right: 10px;
  max-width: none;
}

.datepicker-popover > .arrow {
  right: 47px !important;
  left: auto !important;
}

.datepicker-popover .datepicker > div {
  display: inline-block;
}

.create-variable-popover {
  display: block;
  left: 287px;
  top: 27px;
}

.create-variable-popover > .arrow {
  top: 60px !important;
}

.edit-variable-popover {
  width: 300px;
}

.slider.slider-horizontal {

  width: 100%;
  height: 40px;
  margin-bottom: 10px;

  .slider-track {

    top: 10px;
    height: 30px;

    .slider-handle {
      width: 40px;
      height: 40px;
      outline: none;
      border-radius: 10%;
    }

  }

}

.switch {

  width: 66.6%;
  margin: 0 16.65% 10px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-border-radius: 4px;

  & > div {
    height: 40px;
  }

  & span {
    line-height: 30px;
    font-size: 18px;
  }

}

// /*
//  * fix weird bug
//  */
// .tooltip.ng-hide {
//   display: block !important;
// }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  padding: 10px;
  border-right: 1px solid #fff;
}

















/*-- Chart --*/


.c3 svg {
  font: 10px sans-serif;
}
.c3 path, .c3 line {
  fill: none;
  stroke: #000;
}
.c3 text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges;
}

.c3-chart-arc path {
  stroke: #fff;

}
.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/*-- Axis --*/

.c3-axis-x .tick {
}
.c3-axis-x-label {
}

.c3-axis-y .tick {
}
.c3-axis-y-label {
}

.c3-axis-y2 .tick {
}
.c3-axis-y2-label {
}

/*-- Grid --*/

.c3-grid line {
  stroke: #aaa;
}
.c3-grid text {
  fill: #aaa;
}
.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3;
}
.c3-xgrid-focus {
}

/*-- Text on Chart --*/

.c3-text {
}

.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em;
}

/*-- Line --*/

.c3-line {
  stroke-width: 1px;
}
/*-- Point --*/

.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}
.c3-selected-circle {
  fill: white;
  stroke-width: 2px;
}

/*-- Bar --*/

.c3-bar {
  stroke-width: 0;
}
.c3-bar._expanded_ {
  fill-opacity: 0.75;
}

/*-- Arc --*/

.c3-chart-arcs-title {
  font-size: 1.3em;
}

/*-- Focus --*/

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}

/*-- Region --*/

.c3-region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/

.c3-brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/

.c3-dragarea {
}

/*-- Legend --*/

.c3-legend-item {
  font-size: 12px;
}

/*-- Tooltip --*/

.c3-tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
          box-shadow: 7px 7px 12px -9px rgb(119,119,119);
  opacity: 0.9;
}
.c3-tooltip tr {
  border:1px solid #CCC;
}
.c3-tooltip th {
  background-color: #aaa;
  font-size:14px;
  padding:2px 5px;
  text-align:left;
  color:#FFF;
}
.c3-tooltip td {
  font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}
.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.c3-tooltip td.value{
  text-align: right;
}

.c3-area {
  stroke-width: 0;
  opacity: 0.2;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}
.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}
.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777;
}
.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  font-size: 28px;
}