@import "node_modules/bootstrap/less/bootstrap.less";
@import "node_modules/font-awesome/css/font-awesome.css";
// @import "node_modules/bootflat/bootflat/css/bootflat.css";

@icon-font-path: "node_modules/bootstrap/fonts/";

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: default !important;

}

textarea { 
  resize: none; 
}

body {
  margin: 0;
  overflow: hidden;
  min-height: 500px;
  min-width: 600px;
}

.app {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
}

.navbar {
  margin: 0;
}

.sidebar {
  width: 300px;
  background: #eee;
  flex-shrink: 0;
  padding: 20px;
  overflow: scroll;
}

.sidebar .popover .row {
  width: 250px;
}

.main {
  padding: 20px;
}

nav .dropdown:hover .dropdown-menu {
  display: block;
}

nav .datepicker input {
  width: auto !important;
  padding-left: 10px;
}

.variable-toggle .btn-group {
  display: none;
}

.variable-toggle:hover .btn-group {
  display: inline-block;
}

.popover .row [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}

.popover .row {
  margin-left: -10px;
  margin-right: -10px;
}

.popover .row:not(:last-child) {
  margin-bottom: 10px;
}

/* this is how we can tweak the popover position */
/*.popover {
  margin-top: 65px;
}
.popover .arrow {
  top: 30px !important;
}*/

.popover .selecter {
  color: #333;
}

.selecter.cover .selecter-options {
  border: none;
}

.popover .form-group {
  margin-bottom: 10px;
}

.popover .form-group:last-child {
  margin-bottom: 0;
}

.datepicker-popover {
  display: block;
  left: auto;
  top: 54px;
  right: 10px;
  max-width: none;
}

.datepicker-popover > .arrow {
  right: 37px !important;
  left: auto !important;
}

.datepicker-popover .datepicker > div {
  display: inline-block;
}

.create-variable-popover {
  display: block;
  left: 287px;
  top: 27px;
}

.create-variable-popover > .arrow {
  top: 60px !important;
}

.edit-variable-popover {
  width: 300px;
}

.test {
  position: -webkit-sticky;
}