.wizard

  .progress: .progress-bar.progress-bar-striped(style='width: 100%')

  h2
    i.glyphicon.glyphicon-thumbs-up
    |  That's it

  p Click the button to save your data.

  footer
    .pull-left
      button.btn.btn-lg.btn-primary(ng-show='previous', ng-click='previous()')
        i.glyphicon.glyphicon-chevron-left
        |  Previous
    .pull-right
      button.btn.btn-lg.btn-primary(ng-click='done()')
        | Cool 
        i.glyphicon.glyphicon-send