.row.datepicker
  .col-xs-6
    .input-daterange

  .col-xs-6
    .input-daterange
    //- .datepicker.input-group.input-daterange(data-date-orientation='top right')
    //-   input.form-control(type='text', name='start')
    //-   input.form-control(type='text', name='end')