//- form(name='variable-delete')

//-   input(name='id', type='hidden', value=id)

//-   .row
//-     .col-xs-12
//-       b Delete #{name}?
//-       |  You will loose all of the data for it.

//-   .row
//-     .col-xs-6
//-       button.btn.btn-default.btn-block(type='button', data-dismiss='popover') Cancel
//-     .col-xs-6
//-       button.btn.btn-danger.btn-block(type='submit') Delete