.navbar-header.pull-left
  a.navbar-brand(ui-sref='default') Lifetracker

.navbar-header.pull-right
  a.btn.btn-link.navbar-btn(ng-click='showDatepicker = !showDatepicker'): i.glyphicon.glyphicon-calendar
  a.btn.btn-link.navbar-btn(ui-sref='wizard'): i.glyphicon.glyphicon-plus

.popover.bottom.datepicker-popover(ng-show='showDatepicker')
  .arrow
  .popover-content
    .row
      .datepicker
        .range-start
        .range-end