.navbar-header.pull-left
  a.navbar-brand(href='#') Lifetracker

.navbar-header.pull-right
  a.btn.btn-link.navbar-btn(href='#toggle-datepicker', type='button'): i.glyphicon.glyphicon-calendar
  a.btn.btn-link.navbar-btn(href='#', type='button'): i.glyphicon.glyphicon-plus

.popover.bottom.popover-datepicker
.arrow
.popover-content
  .row
    .datepicker
      .range-start
      .range-end