.input-group.input-group-lg
  input.form-control(
    type='text'
    numbers-only
    ng-model='record.value'
    name='record'
  )
  span.input-group-addon(ng-show='variable.units') {{variable.units}}