.list-group
  //- a.list-group-item.active(href='#') Cras justo odio
  each variable in variables
    a.list-group-item(href='#')= variable.name
      //- span.badge.badge-primary 38
      //- | Morbi leo risus
