.list-group
  a.btn.btn-primary.btn-block(ng-click='CreateVariablePopover.visible = !CreateVariablePopover.visible')
    i.fa.fa-bar-chart-o
    |  New Variable

  include create-variable-popover

ul.list-group.sidebar-variables
  li.list-group-item.variable-toggle(ng-repeat='variable in variables | orderBy:"name"')

    .btn-group.btn-group-xs.pull-right
      a.btn.btn-default(edit-variable)
        i.glyphicon.glyphicon-pencil
      a.btn.btn-default(ng-click='toggleDeleteVariablePopover(variable)')
        i.glyphicon.glyphicon-remove

    span.badge.badge-primary {{variable.records.length}}
    span.name {{variable.name}}

    .popover.right.popover-create-variable(ng-show='variable.editing')
      .arrow
      .popover-content

        form(name='variable-edit')

          input.form-control(name='id', type='hidden')

          .row
            .col-md-12
              .form-group
                input.form-control(name='name', type='text', placeholder='Variable Name (ex: "Sleep")')

          .row
            .col-md-12
              .form-group
                textarea.form-control(name='question', placeholder='Question (ex: "How much sleep did you get last night?")')

          .row
            .col-xs-6
              .form-group
                button.btn.btn-default.btn-block(type='button', data-dismiss='popover') Cancel
            .col-xs-6
              .form-group
                button.btn.btn-primary.btn-block(type='submit') Save