.list-group
  a.btn.btn-primary.btn-block(ng-click='showCreateVariablePopover = !showCreateVariablePopover')
    i.fa.fa-bar-chart-o
    |  New Variable

  include create-variable-popover

ul.list-group.sidebar-variables
