.list-group
  a.btn.btn-primary.btn-block(href='#create-variable')
    i.fa.fa-bar-chart-o
    |  New Variable

  .popover-create-variable-container
    include create-variable-popover


ul.list-group.sidebar-variables
