.list-group.correlation-list
  a.list-group-item(
    ng-repeat='correlation in correlations'
    ng-click='select(correlation)'
    ng-class='{ "list-group-item-success": isPositive(correlation), "list-group-item-warning": isNegative(correlation), "active": isSelected(correlation) }'
  )
    | {{correlation.name}}
    span.badge(ng-class='isPositive(correlation) ? "badge-success" : "badge-warning"') {{correlation.pretty}}
